<!DOCTYPE html>
<html>
<head>
	{include file="common_header" /}
	{include file="common_top" /}
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
              <div class="layui-box">
			{if !empty($webinfo.text13)}<a class="layui-btn layuiadmin-btn-tags" href="{$webinfo.text13}" target="_blank">功能说明</a>{/if}
			 </div>
			<div class="layui-form" lay-filter="component-form-element">
            <div class="layui-box layui-laypage layui-laypage-molv">{$page}</div>
            <table class="layui-table" lay-even="" lay-skin="nob">
            <thead>
              <tr>
                <th width="35">序号</th>
                <th>状态</th>
                <th>支付网关</th>
                <th>群名称</th>
                <th>订单编号</th>
                <th>金额</th>
                
                <th>分销比例</th>
                <th>分销金额</th>
                <th>平台抽拥</th>
                
                <th>添加时间</th>
                <th>支付时间</th>
                <th>备注</th>
              </tr> 
            </thead>
            <tbody>
             {volist name="list" id="vo"}
				<tr id="tr_{$vo.bl_id}">
					<td class="text-center">{$vo.bl_id}</td>
                    <td>
                        {if $vo.bl_status==1}<span class="layui-badge layui-bg-gray">待支付</span>
                        {elseif $vo.bl_status==2}<span class="layui-badge layui-bg-green">支付完成</span>
                        {elseif $vo.dt_status==4}支付失败{/if}
                    </td>
                    <td><span class="layui-badge-rim">{$vo.pl_title}</span></td>
                    <td><span class="layui-badge layui-bg-cyan">{$vo.wxg_title}</span></td>
                    <td>{$vo.bl_sncode}</td>
                    <td><span class="layui-badge-rim">{$vo.bl_money}元</span></td>
                    <td><span class="layui-badge-rim">{$vo.bl_scale}%</span></td>
                    <td>{$vo.bl_scalemoney}元</td>
                    <td>{$vo.bl_substationmoney}元</td>
                    <td>{$vo.bl_addtime}</td>
                    <td>{$vo.bl_zfaddtime}</td>
                    <td>{$vo.bl_content}</td>
 
				</tr>
			{/volist}
            </tbody>
          </table> 
          <div class="layui-box layui-laypage layui-laypage-molv">{$page}</div>
		  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {include file="common_footer" /} 
   <script>
	layui.use(['index','form'], function(){
		
		var form = layui.form;
		


    var $ = layui.$, active = {

	 
	  add: function(){
		var id = $(this).data('id');
		var url = '{:url('distributiontixian/add')}';
        layer.open({
          type: 2
          ,title: '提现申请'
          ,content: url
          ,area: ['550px', '290px']
        }); 
      },
	 
	  

    } 
	
	 
    $('.layui-btn').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

	
  });
  </script>
</body>
</html>